# Reproducing Figure 7 (Section 11.6)

This notebook:
1. Computes the probability of a “rare event” (index drop ≥ 15%) under a lognormal model with log-mean = 0.06 and log-stdev = 0.173, i.e.
   $p_{\text{crash}} = P(e^r \le 0.85)$.
2. For each year $t=1,2,\dots,25$, calculates the cumulative blow-up probability:
   $$P_{\text{cum},t} = 1 - (1 - p_{\text{crash}})^t.$$

In [2]:
import numpy as np
import pandas as pd
from scipy.stats import lognorm

# Compute p_crash = P(e^r <= 0.85) under lognormal(r; mean=0.06, stdev=0.173)

mu = 0.06
sigma = 0.173
# lognormal parameterization:    s = sigma,   scale = exp(mu)
p_crash = lognorm.cdf(0.85, s=sigma, scale=np.exp(mu))

print(f"Rare-event probability p_crash = {p_crash:.6f}")

Rare-event probability p_crash = 0.099180

In [5]:
# Hedge Fund Revenue Breakdown

# Given parameters:
fund_size = 100           # $100 million under management
price_option = 0.10       # $0.10 per digital option
first_round = 100         # Number of options sold in the first round
second_round = 10         # Number of options sold in the second round
risk_free_rate = 0.02     # 2% per year

# Number of digital options the hedge fund sells
num_sold = first_round + second_round
print(f"Number of options sold = {num_sold}")

# Revenue from selling the options
revenue_options = num_sold * price_option
print(f"Revenue from selling options = ${revenue_options:.2f}")

# Amount saved at the risk-free rate
#    (i.e. revenue from options + original fund size)
amount_saved = revenue_options + fund_size
print(f"Amount saved at the risk-free rate = ${amount_saved:.2f}")

# Interest income
interest_income = amount_saved * risk_free_rate
print(f"Interest income = ${interest_income:.2f}")

# Total Revenue
total_revenue = revenue_options + interest_income
print(f"Total Revenue = ${total_revenue:.2f}")

# Assemble into a DataFrame
df_breakdown = pd.DataFrame({
    "Description": [
        "Number of digital options the hedge fund sells",
        "First round",
        "Second round",
        "Revenue from selling the options",
        "Amount saved at the risk-free rate",
        "Interest income",
        "Total Revenue"
    ],
    "Value": [
        num_sold,
        first_round,
        second_round,
        revenue_options,
        amount_saved,
        interest_income,
        total_revenue
    ]
})

df_breakdown

Number of options sold = 110
Revenue from selling options = $11.00
Amount saved at the risk-free rate = $111.00
Interest income = $2.22
Total Revenue = $13.22

                                      Description   Value
0  Number of digital options the hedge fund sells  110.00
1                                     First round  100.00
2                                    Second round   10.00
3                Revenue from selling the options   11.00
4              Amount saved at the risk-free rate  111.00
5                                 Interest income    2.22
6                                   Total Revenue   13.22

## Build Year 1–25 table of cumulative blow-up probabilities and simulated indicators

- Let **Year** run from 1 to 25.
- **Prob_Blowup?** for year _t_ is $1 - (1 - p_{\text{crash}})^t$.

In [6]:
# Set up years 1..25
years = np.arange(1, 26)

# Compute cumulative blow-up probability for each year:
prob_cum = 1 - np.power(1 - p_crash, years)

# Assemble into a DataFrame
df_fig7 = pd.DataFrame({
    'Year': years,
    'Prob_Blowup?': prob_cum
})

df_fig7

    Year  Prob_Blowup?
0      1      0.099180
1      2      0.188524
2      3      0.269006
3      4      0.341506
4      5      0.406816
5      6      0.465648
6      7      0.518645
7      8      0.566386
8      9      0.609392
9     10      0.648133
10    11      0.683031
11    12      0.714468
12    13      0.742787
13    14      0.768298
14    15      0.791278
15    16      0.811979
16    17      0.830627
17    18      0.847425
18    19      0.862558
19    20      0.876189
20    21      0.888469
21    22      0.899531
22    23      0.909495
23    24      0.918471
24    25      0.926558